<header
  class="site-header"
  style="
    background: #063737;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
  "
>
  <div
    class="wrapper"
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: none;
      margin: 0;
      padding: 0 1rem;
    "
  >
    <!-- Left: Name + Projects -->
    <div>
      <a
        class="site-title"
        href="{{ '/' | relative_url }}"
        style="
          color: #fff;
          font-size: 1.25rem;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
        "
      >
        Vishnu Murali Krishnan
      </a>
      <a
        href="{{ '/projects/' | relative_url }}"
        style="
          color: #fff;
          margin-left: 1rem;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
        "
      >
        Projects
      </a>
    </div>

    <!-- Right: Social icons -->
    <div>
      <a
        href="https://github.com/vishnumkpn"
        target="_blank"
        title="GitHub"
        style="margin-right: .5rem; color: #fff;"
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a
        href="https://x.com/vishnumkpn"
        target="_blank"
        title="Twitter"
        style="margin-right: .5rem; color: #fff;"
      >
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/vishnu-mkpn/"
        target="_blank"
        title="LinkedIn"
        style="margin-right: .5rem; color: #fff;"
      >
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a
        href="https://ieeexplore.ieee.org/author/800400476717648"
        target="_blank"
        title="IEEE"
        style="color: #fff;"
      >
        <i class="fab fa-ieee fa-lg"></i>
      </a>
    </div>
  </div>
</header>
