<!-- Right: Social icons/links -->
<div>
  <!-- GitHub -->
  <a
    href="https://github.com/vishnumkpn"
    target="_blank"
    aria-label="GitHub"
    style="margin-right: .5rem; color: #fff;"
  >
    <img
      src="{{ '/assets/icons/github.png' | relative_url }}"
      alt="GitHub"
      style="height: 1.25em; vertical-align: middle;"
    />
  </a>

  <!-- Twitter -->
  <a
    href="https://x.com/vishnumkpn"
    target="_blank"
    aria-label="Twitter"
    style="margin-right: .5rem; color: #fff;"
  >
    <img
      src="{{ '/assets/icons/twitter.png' | relative_url }}"
      alt="Twitter"
      style="height: 1.25em; vertical-align: middle;"
    />
  </a>

  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/vishnu-mkpn/"
    target="_blank"
    aria-label="LinkedIn"
    style="margin-right: .5rem; color: #fff;"
  >
    <img
      src="{{ '/assets/icons/linkedin.png' | relative_url }}"
      alt="LinkedIn"
      style="height: 1.25em; vertical-align: middle;"
    />
  </a>

  <!-- IEEE -->
  <a
    href="https://ieeexplore.ieee.org/author/800400476717648"
    target="_blank"
    aria-label="IEEE"
    style="color: #fff;"
  >
    <img
      src="{{ '/assets/icons/ieee.jpg' | relative_url }}"
      alt="IEEE"
      style="height: 1.25em; vertical-align: middle;"
    />
  </a>
</div>
