<header class="site-header">
  <div class="wrapper">

    <!-- Left side: Name & “Projects” link -->
    <div class="header-left">
      <a class="nav-link" href="{{ '/' | relative_url }}">
        Vishnu Murali Krishnan             
      </a>
      <a class="nav-link" href="{{ '/projects/' | relative_url }}">
        Projects
      </a>
    </div>

    <!-- Right side: Social icons -->
    <div class="header-right">
      <!-- GitHub -->
      <a href="https://github.com/vishnumkpn" target="_blank" aria-label="GitHub">
        <img
          class="social-icon"
          src="{{ '/assets/icons/github.svg' | relative_url }}"
          alt="GitHub"
        />
      </a>
      <!-- Twitter -->
      <a href="https://x.com/vishnumkpn" target="_blank" aria-label="Twitter">
        <img
          class="social-icon"
          src="{{ '/assets/icons/twitter.svg' | relative_url }}"
          alt="Twitter"
        />
      </a>
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/vishnu-mkpn/" target="_blank" aria-label="LinkedIn">
        <img
          class="social-icon"
          src="{{ '/assets/icons/linkedin.svg' | relative_url }}"
          alt="LinkedIn"
        />
      </a>
      <!-- IEEE -->
      <a href="https://ieeexplore.ieee.org/author/800400476717648" target="_blank" aria-label="IEEE">
        <img
          class="social-icon"
          src="{{ '/assets/icons/ieee.svg' | relative_url }}"
          alt="IEEE"
        />
      </a>
    </div>

  </div>
</header>
