@import "minima";

body {
  margin: 0;
  padding: 0;
}

body,
.site-header,
.site-header a {
  font-family: "Roboto", sans-serif;
}

.site-header {
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #063737;
}

.site-header .wrapper {
  max-width: none;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper {
  max-width: none !important;
  margin: 0;
  padding: 0 1rem;
}