@import "minima";

.site-header {
  background-color: #063737 !important;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
}

.site-header .wrapper {
  max-width: none !important;
  margin: 0 auto;
  padding: 0 1rem;
}

.site-title,
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif;
}

.social-icons a {
  margin-right: 0.5rem;
  display: inline-block;
}

.social-icons img {
  height: 1.25em;
  vertical-align: middle;
}
